
  #main-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(var(--columns),minmax(0,1fr));
    grid-auto-rows: 0;
    --columns: 3;
  }

  .parent-image-items {
     border-radius: 5px;
     overflow: hidden;
     padding: 10px;
     padding-right: 0;
  }

  .parent-image-items,.parent-image-items img {
     position: relative;
  }

  .parent-image-items img {
      width: 100%;
      cursor: pointer;
      height: 100%;
  }

  .parent-image-items:after {
    position: absolute;
    top: 0;
    left: 0; 
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    transition: all .1s ease-in;
  }

  .modal {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 5;
      top: 0;
      left: 0;
      display: none;
      background: rgb(0,0,0,0.5);
  }

  .modal-layer {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: auto;
  }
  .modal-content {
    background: white;
    width: 60%;
    transform: translate(0,0);
    padding: 15px;
    vertical-align: middle;
    position: relative;
    margin: 30px auto;
    text-align: left;
    border-radius: 5px;
  }

   .modal-tiles{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
   }

   .inner-content-section {
    background: white;
    width: 100%;
   }

   #modal-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   }

   .prev {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 55px;
    transform: translate(-50%,-50%);
    cursor: pointer;
   }

   .next {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 55px;
    transform: translate(-50%,-50%);
    cursor: pointer;
   }

   .disabled{
       opacity: 0.5;
       pointer-events: none;
   }
   .close-btn{
       position: absolute;
       top: 20px;
       left: 20px;
       color: #fff;
       font-size: 35px;
       font-weight: normal;
       cursor: pointer;
   }

   .container{
       width: 100%;
       
   }

    body{
        overflow: hidden;
    }

   .bottom-panel-sub {
    background: #fff;
    padding: 7px;
    border-radius: 5px;
    background-size: 100%;
    opacity: 0;
   }

   .butn-0{
       position: absolute;
       right: 20px;
       top: 20px;
       
   }

   .butn-1{
    position: absolute;
    right: 80px;
    top: 20px;
    }

    .butn-2{
        position: absolute;
        bottom: 10px;
        right: 20px;
        
    }

    .butn-0 .sub_0 {
        background-image: url("../images/add.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
    }

    .butn-1 .sub_1 {
        background-image: url("../images/like.png");
        width: 15px;
        height: 15px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .butn-2 .sub_2 {
        background-image: url("../images/download.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
    }

    .likes-download-section .butn-0 ,.likes-download-section .butn-1 {
        border: 1px solid #bdbdbd;
    }

    .likes-download-section .butn-1 {
        right: 60px;
    }

    .globalLoader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background: rgb(203 200 200 / 50%);
    }
    .loader{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }  

    .meta-data-section {
        display: flex;
        width: 100%;
    }

    .likes {
        width: 20%;
    }

    .downloads{
        width: 20%;
    }
    .meta-data-section p:first-child{
        color: gray;
        margin-bottom: 5px;
    }

    .meta-data-description{
        color: gray;
        font-size: 15px;
    }

    .meta-data-description p{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .meta-data-section p:nth-child(2){
        margin-top: 5px;      
    }

    .user-logo{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: table-cell;
    }

    #user-section{
        display: table;
    }
    #user-name{
        display: table-cell;
        vertical-align: middle;
        padding-left: 15px;
    }

    .title-section{
        margin-bottom: 20px;
    }

    @media only screen and (max-width: 992px) {

        #main-container {
            grid-template-columns: repeat(var(--columns),minmax(0,1fr));
            grid-auto-rows: 0;
            --columns: 2;
          }
       }
    
       @media only screen and (max-width: 600px) {
            .likes {
                width: 50%;
            }
    
            .downloads{
                width: 50%;
            }
            #modal-image{
                width: 100%;
            }
            .modal-content {
                width: 50%;
                height: auto;
            }
    
            .prev {
                top: 50%;
                left: 15px;
                transform: translate(0%,0%);
            }
            
            .next {
                top: 50%;
                right: 15px;
                transform: translate(0%,0%);
            }
    
            #main-container {
                grid-template-columns: repeat(var(--columns),minmax(0,1fr));
                grid-auto-rows: 0;
                --columns: 1;
            }
    
            .parent-image-items {
                padding: 10px;
                padding-right: 10px;
             }
       }

.desc-panel-sub {
    padding: 7px;
    background: #a3a3a3;
    text-align: center;
    color: rgb(56, 56, 56);
    float: left;
    margin-right: 20px;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 15px;
}

.image-parent {
    display: inline-block;
    width: 100%;
    position: relative;
}

.bottom-button-container{
    display: inline-block;
    width: 100%;
}